<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f8f9fa;">

    <div style="width: 100%; max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
        
        <!-- Logo Section -->
        <div style="padding: 20px; text-align: center">
            <img src="https://crtd.in/image/crtd1.jpeg" alt="Logo" style="max-width: 50%;width: 50%;;">
        </div>

        <!-- Header Section -->
         <div>
             <div style="background-size:cover;background-repeat: no-repeat;  background-color: #007bff; color: #ffffff; text-align: center; padding: 20px; border-radius: 10px;">
                 <h1 style="margin: 0; font-size: 24px;">One Time Password</h1>
                </div>
        </div>

        <!-- Body Section -->
        <div style="padding: 20px;">
            <p style="font-size: 16px; color: #333; font-weight: 700;">Dear {{name}},</p>
            <p style="font-size: 16px; color: #333; font-weight: 700;">Greetings from CRTD Technologies !!</p>
            <p style="font-size: 16px; color: #333;">Your One-Time Password (OTP):</p>
            <div>
                <div style="display: flex; justify-content: center; align-items: center; gap: 10px; width:100%;">
                    <div style="width: 80px; height: 50px; background-color: #D7F2FF; display: flex; justify-content: center; align-items: center; font-size: 22px; font-weight: bold; border-radius: 10px; text-align: center;margin-left: 50px;" >
                       <p style="margin-left: 15px; margin-top: 10px;">  {{ otp_code }}</p>
                    </div>
                </div>            
            </div>
            <p style="font-size: 16px; color: #333;">This OTP is valid for the next 10 minutes. Please use this code to complete your verification process.</p>
            <p style="font-size: 16px; color: #333;">For your security, never share this OTP with anyone, including company representatives. If you did not request this code, please contact our support team immediately.</p>
            <p style="font-size: 16px; color: #333;font-weight: 700;">Best Regards</p>
            <p style="font-size: 16px; color: #333;font-weight: 700;">Team CRTD Technologies</p>
        </div>

        <!-- Footer Section -->
        <div style="background-color: #f1f1f1; padding: 20px; text-align: center; font-size: 14px; color: #555;">
            <p>Stay connected:</p>
            <a href="www.linkedin.com/company/crtd-technologies/" style="margin: 0 10px; text-decoration: none; color: #007bff;">LinkedIn</a>
            <a href="https://www.instagram.com/crtd_technologies/" style="margin: 0 10px; text-decoration: none; color: #007bff;">Instagram</a>
            <p style="margin-top: 10px; font-weight: 700;">Thank you, <br> CRTD Technologies</p>
        </div>
        
    </div>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
    
        document.addEventListener('keydown', event => {
            if ((event.ctrlKey || event.metaKey) && (event.key === 'c' || event.key === 'u')) {
                event.preventDefault();
            }
        });

       
        let isMetaKeyPressed = false;
        document.addEventListener('keydown', (e) => {
            if (e.key === 'Meta' && !isMetaKeyPressed) {
                isMetaKeyPressed = true;  
                document.body.classList.add('blurred'); 
            }
        });

        document.addEventListener('keyup', (e) => {
            if (e.key === 'Meta') {
                isMetaKeyPressed = false;
                document.body.classList.remove('blurred');
            }
        });
      </script>
</body>
</html>
