<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\password_reset_complete.css' %}">
    <title>Document</title>
</head>
<body>
   
   <div class="inner-container">
    <h6>Your password has been reset. you may go ahead and</h6> 
    <button><a href="{% url 'users:user_login' %}">Login Here</a></button>
   </div>
    
                   
        <div class="login-box">
            <div class="login-left">
                <div class="login-logo"></div>
                <div class="login-img"></div>
            </div>
            <div class="login-right">
                <div class="login-content">
                    <h2>Log in</h2>
                    <p>Please use your email and password to log in.</p>
                    <div class="msg-container">
                        {% if messages %}
                        <div class="messages mt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                        <div class="content-input">
                    <form action="{% url 'users:user_login' %}" method="POST">
                        {% csrf_token %}
                        <h5>Email iD</h5>
                        <input type="email" name="email" placeholder="Enter Email ID" required />
                        <h5 class="input-pass">Password</h5>
                        <input type="password" id="password" name="password" placeholder="Enter Password" required />
                        <i id="togglePassword" class="fa-solid fa-eye"></i>
                        <a href="{% url 'users:reset_password' %}">Forgot password</a>
                        </div>
                        <div class="content-submit">
                        <a href="{% url 'users:register' %}">Create account</a>
                        <button type="submit">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>