<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\password_reset_confirm.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      body {
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }
      .blurred {
          filter: blur(10px);
          pointer-events: none;
          cursor: none;
      }
  </style>
</head>
<body>
  
  <!-- <div class="modal"> -->
    <div class="modal" id="mobileMessage">
        <div class="modal-logo">
            <img src="/static/images/image_1.png" alt="">
        </div>
        <div class="modal-content">
        <h3>The site is optimized for Desktop use</h3>
        <p>It looks like you're accessing this site from a mobile device. For the best experience, please visit us from a desktop or larger screen. Thank you for your understanding!</p> 
      </div> 
      </div> 
    <!-- </div>    -->
    <div class="desktop-content" id="desktopContent">
    <div class="box">
        <div class="left">
            <div class="login-logo">
                <img src="/static/images/image_1.png" alt="">
            </div>
            <div class="login-img"></div>
        </div>
        <div class="right">
            {% if validlink %}
            <div class="login-content">
                <h2>Reset Your Password</h2>
                <p>Please reset your password by entering a new one.</p>
                <div class="error-msg">
                <!-- errors -->
                {% if form.errors %}
                <div class="alertt alert-danger alert-dismissible">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <!-- errors -->
            </div>
                
                <div class="content-input">
                    <form method="POST">
                    <h5>Enter New Password</h5>
                    <input type="password" placeholder="Enter New Password" id="inputPassword" name="new_password1" autocomplete="new-password" id="id_new_password1" required/>
                    <i id="togglePassword1" class="fa-solid fa-eye icon-1"></i>

                    <h5 class="input-pass">Confirm New Password</h5>
                    <input type="password" placeholder="Enter Confirm Password" id="inputPassword2" name="new_password2" autocomplete="new-password" id="id_new_password2" required/>
                    <i id="togglePassword2" class="fa-solid fa-eye icon-2"></i>    
                </div>
                <div class="content-submit">
                    <button type="submit">Next</button>
                </form>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
            {% endif %}
        </div>
     </div>
    </div>
    <script>
        function handleBlurEffect() {
            document.body.classList.add('blurred');
            setTimeout(() => document.body.classList.remove('blurred'), 2000); // Unblur after 2 seconds
        }
        const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
     
        // Disable context menu
        document.addEventListener('contextmenu', event => event.preventDefault());
     
        // Disable keyboard shortcuts
        document.addEventListener('keydown', event => {
            if ((event.ctrlKey || event.metaKey) && (event.key === 'c' || event.key === 'u')) {
                event.preventDefault();
            }
            if (event.key === 'F11') {
                event.preventDefault(); // Prevent default fullscreen behavior
                handleBlurEffect(); // Apply blur effect
            }
        });
     
        // Handle Meta key and blur
        document.addEventListener('keydown', event => {
            if (event.key === 'Meta' || event.code === 'OS') {
                document.body.classList.add('blurred');
                handleBlurEffect();
            }
            if (event.key === 'Escape') {
                event.preventDefault();
            }
            if (event.key === 'PrintScreen') {
                event.preventDefault();
            }
        });
     
        document.addEventListener('keyup', event => {
            if (event.key === 'Meta' || event.code === 'OS') {
                document.body.classList.remove('blurred');
                handleBlurEffect();
            }
            if (event.key === 'PrintScreen') {
                document.body.classList.add('blurred'); // Blur content
                setTimeout(() => document.body.classList.remove('blurred'), 2000); // Unblur after 2 seconds
            }
        });
     
        // Add touch event listeners for iOS
        if (isIOS) {
            document.addEventListener('touchstart', handleBlurEffect);
            document.addEventListener('touchstart', () => {
                document.body.classList.add('blurred');
            });
     
            document.addEventListener('touchend', () => {
                document.body.classList.remove('blurred');
            });
        }
     </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        const togglePassword1 = document.querySelector('#togglePassword1');
        const password = document.querySelector('#inputPassword');

        togglePassword1.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        });

        const togglePassword2 = document.querySelector('#togglePassword2');
        const password2 = document.querySelector('#inputPassword2');

        togglePassword2.addEventListener('click', function () {
        const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
        password2.setAttribute('type', type);
        });

    </script>
    <script>
        const isMobile = window.innerWidth < 1024;
  const mobileMessage = document.getElementById("mobileMessage");
  const desktopContent = document.getElementById("desktopContent");
  const passkeyModal = document.querySelector(".modal");

  if (isMobile) {
    mobileMessage.style.display = "block";
    desktopContent.style.display = "none";
  } else {
    mobileMessage.style.display = "none";
    desktopContent.style.display = "block";
  }

  // Update on screen resize
  window.addEventListener("resize", () => {
    const isMobile = window.innerWidth < 1024;
    if (isMobile) {
        // passkeyModal.style.display = "block";
      mobileMessage.style.display = "block";
      desktopContent.style.display = "none";
    } else {
      mobileMessage.style.display = "none";
      desktopContent.style.display = "block";
    }
  });
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>