*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    /* background: #E7F7FF; */
}
.box{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    background-color: #E7F7FF;
    display: flex;
}
.box-left{
    height: 100%;
    width: 35%;
    /* background-color: yellow; */
}
.box-right{
    height: 100%;
    width: 65%;
    /* background-color: black !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-logo{
    height: 17%;
    width: 60%;
    /* background-color: blue; */
    background: url("../images/image_1.png");
    background-size: cover;
    position: relative;
    left: 5%;
    top: 3%;
}
.left-img{
    height: 60%;
    width: 75%;
    /* background-color: teal; */
    background-image: url("../images/create-account.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 12%;
    top: 18%;
}
.content-box{
    height: 90%;
    width: 85%;
    /* background-color: blue; */
    background-color: #F5FCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
}
.content-box h2{
    font-weight: 700;
    font-size: 28px;
    color: #032F84;
}
.content-input{
    width: 70%;
    /* background-color: yellow; */
    /* margin-top: 5%; */
    position: relative;
    top: -3%;
}
.content-input label{
    margin-top: 2%;
    color: #003B8B;
    font-weight: 500;
    /* font-size: 18px; */
}
.check-perform{
    display: flex;
    justify-content: space-between;
}
.check-perform input{
    width: 70%;
    background: transparent;
    border: 1px solid #0BAB1D !important;
    background-color: #E4FFE2 !important;
}
.content-box .check-perform button{
    width: 23%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
}
.content-box .check-perform button i {
    display: inline-block; /* Ensure the icon is always displayed */
}
.content-box .submit-btn{
    height: 10%;
    width: 30%;
    border: none;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
    border-radius: 10px;
    opacity: 60%;
    position: relative;
    top: -5%;
}
.content-input input{
    background: transparent;
    border: 1px solid #000000;
}
.content-box .submit-btn:hover{
    opacity: 1;
}
.verified{
    background: linear-gradient(to right, #13FF5E, #5CD500) !important;
    cursor: not-allowed;
    display:block;
}
.not-visible{
display: none;
}
.content-box form{
    width: 95%;
    position: relative;
    left: 13%;
    top: 1%;
}
.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-box .submit-btn{
    position: relative;
    left: 20%;
}

/* error messages  */
.messages {
    /* margin-top: 1.5rem; */
    padding: 5px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* General alert message styling */
.alert {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
}

/* Specific styles based on tags */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}
.msg-container{
    height: 50px;
    /* background-color: red; */
}
.content-input i{
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: -40px;
    left: 95%;
}
.icon-2{
    top: -33px !important;
}
.last-label{
    position: relative;
    left: -18px !important;
}