* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 overflow: hidden;
}
.instruction-box{
    height: 100vh;
    width: 100%;
    display: flex;
}
.imp-instruct-left {
 height: 100%;
 width: 30%;
}
.imp-instruct-right {
 height: 100%;
 width: 70%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 15px;
}
.instruct-logo{
    height: 19%;
    width: 76%;
    background: url("/static/images/image_1.png");
    background-size: cover ;
    position: relative;
    top: 10px;
    scale: 0.78;
}
.im-instructions{
    /* height: 65% !important; */
    position: relative;
    top: -7%;
}
.im-instructions ul li {
    line-height: 40px;
    font-size: 18px;
}
.im-instructions ul{
    position: relative;
    /* top: 5%; */
}

.instruct-img{
    height: 60%;
    width: 85%;
    background: url("/static/images/instruction.png");
    background-size: cover;
    position: relative;
    top: 90px;
    left: 40px;
}
.instruction{
    height: 60vh !important;
    width: 75%;
    background-color: #D0EDFF;
    position: relative;
    left: -50px;
    top: -50px;
    border-radius: 14px;
    padding: 15px;
}
.imp-instruct-img {
 height: 50%;
 width: 75%;
 background: url("/static/images/imp-instruction.png");
 background-size: cover;
}
.instruction h3 {
 font-weight: 700;
 font-size: 24px;
 position: relative;
 top: 1%;
 left: 2%;
 /* left: -270px; */
 /* color: #005AD5; */
 background: linear-gradient(to right, #13B3FF, #005AD5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
z-index: 1;
}
.imp-check {
 height: 40px;
 display: flex;
 position: relative;
 left: -130px;
 top: -3%;
}
.imp-check span {
 font-weight: 600;
 font-size: 18px;
 color: #000000;
 position: relative;
 top: -20px;
}
.imp-check input {
 height: 25px;
 width: 25px;
 margin-right: 10px;
 position: relative;
 top: -20px;
}
.imp-instruct-btn {
 height: 40px;
 width: 140%;
 background: linear-gradient(to right, #13B3FF, #005AD5);
 border: none;
 border-radius: 10px;
 color: white;
 position: relative;
 top: -50px;
 left: -170%;
 padding: 5px 15px 5px 15px;
 font-size: 17px;
}
.popup {
 opacity: 0;
 color: red;
 position: relative;
 left: -15%;
 top: -8%;
}
.impp-account{
    height: 20%;
    width: 20%;
    padding: 10px;
    position: relative;
    top: -2%;
    left: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .impp-account h6{ */
/*     */
    /* font-size: 16px; */
    /* font-weight: 650; */
/* } */
.impp-account div{
    position: relative;
    /* top: 23%; */
    line-height: 2px;
}
.impp-account img{
    margin-right: 8px;
    position: relative;
    /* top: -12%; */
}
.impp-account p{
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}