*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  
}


/*Automatically Page b/w Instruction and imp Instruction  */
.automaticaly-box{
    height: 100vh;
    width: 100%;
}
.automate-content-box{
    width: 64%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 2%;
    left: 15%;
}
.part-1{
height: 15%;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.automate-logo{
    height: 110%;
    width: 20%;
    background-size: cover;
    /* background-color: pink; */
    position: relative;
    top: 15%;
    left: 1.7%;
    /* scale: 0.9; */
}
.part-1 p{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: 10%;
    color: #000000;
}
.content-box{
    height: 100%;
    width: 90%;
    background-color: #F1FBFF;
    border-radius: 10px;
    padding: 5px 27px 5px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.45px solid #13B3FF;
}
.content-box p{
    position: relative;
    top: 5%;
}
.content-box h6{
    width: 28%;
    font-size: 14px;
    font-weight: 600;
}
.automaticaly-box h5{
    width: 50%;
    font-weight: 650;
    color: #032F84;
    font-size: 24px;
    position: relative;
    top: 1%;
    left: 35%;
}
.automaticaly-box button{
    background: linear-gradient(to right, #13B3FF, #005AD5); 
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 15%;
    position: relative;
    top: 2%;
    left: 48%;
}
.automate-account{
    position: relative;
    top: -17%;
    left: -2%;
    line-height: 0%;
}

.selection{
    width: 20%;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 3%;
    left: 66.5%;
}
.imp-account{
    height: 70%;
    width: 15%;
    padding: 10px;
}
/* .imp-account h6{ */
/*       */
    /* font-size: 16px; */
    /* font-weight: 650; */
/* } */
/* .imp-account p{ */
    /* font-weight: 400; */
    /* font-size: 14px; */
    /* color: #808080; */
/* } */
.is_complete{
    height: 80%;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}
.inner-box{
    display: flex;
    width: 115%;
    height: 12%;
    align-items: center;
}
.is_complete img{
    height: 20px;
    width: 20px;
}
.is_complete p{
    position: relative;
    top: 6px;
    color: #41E40A;
}
.visible{
    opacity: 1 !important;
}
.inner-box .is_start{
    height: 80%;
    width: 10%;
    display: flex;
    align-items: first baseline;
}
.is_start p{
    font-weight: 600;
    color: #032F84;
}
.attempted{
    background-color: #C2FCD2;
    border: #C2FCD2;
}
.current{
    background-color: #BCEAFF;
}
.remaining{
    background-color: #F1FBFF;
}