*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.box{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    /* flex-direction: column; */
}
.part-1{
    width: 25%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part-2{
    width: 55%;
    height: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.part-3{
    height: 100%;
    width: 20%;
   /* background-color: red; */
}
.part1-logo{
    height: 20%;
    width: 100%;
    /* background-color: blue; */
    background: url("../images/image_1.png");
    background-size: cover;
    object-fit: cover;
    scale: 0.7;
}
.part1-content{
width: 90%;
height: 70%;
/* background-color: red; */
position: relative;
left: 5%;
display: flex;
flex-direction: column;
/* justify-content: center; */
border-radius: 10px;
border: 0.8px solid #C2C2C2;
}
.part-2 h4{
    position: relative;
    /* top: -5%; */
}
.part2-innerbox{
    height: 12%;
    width: 43%;
    background-color: #F0FDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10%;
    border-radius: 15px;
    font-size: 22px;
    border: 2px dashed black;
    font-weight: 450;
    margin-top: 5%;
}
.part-2 .check-payment{
    height: 180%;
    width: 120%;
    color: #fff;
    border: none;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    left: -13%;
    top: -300%;
}
.part2-buttons{
    height: 15%;
    width: 70%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -5%;
}
.part2-buttons button{
    height: 35%;
    width: 25%;
    border: none;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
    border-radius: 5px;
}
.part2-buttons .prev{
    width: 20% !important;
}
.case-study{
    height: 12%;
    width: 70%;
    font-size: 14px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15%;
    background-color:  #D9F2FD;
    border-radius: 8px;
    margin-top: 10px;
}
.small-box-cont2{
    width: 100%;
    /* background-color: blue; */
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

.small-box-cont2 div{
    display: flex;
    height: 15%;
    width: 100%;
    /* background-color: #000000; */
    margin-bottom: 3%;
}
.cont2-part1, .cont2-part2, .cont2-part3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}
.cont2-part1 div, .cont2-part2 div, .cont2-part3 div{
    display: flex;
    height: 80%;
    width: 12%;
    /* background-color: blanchedalmond; */
    border: 1px solid #9A9A9A;
    border-radius: 4px;
}
.part1-box, .part2-box, .part3-box{
    padding: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.not-Visited{
    background-color: #D1D1D1;
}
.part-2 .modal-fail{
    height: 70%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.modal-img{
    height: 50%;
    width: 60%;
    background: url("../images/modal.png");
    background-size: cover;
    scale: 0.9;
}
.modal-fail h3{
    font-size: 22px;
    font-weight: 600;
    color: #D60101;
}
.modal-fail span{
    width: 90%;
    font-size: 15px;
    color: #848484;
    font-weight: 700;
}
.modal-fail p{
    width: 90%;
    font-size: 13px;
    color: #848484;
    margin-top: 5px;
}
.modal-fail p b{
    color: #046CDE;
}
.modal-fail .try-btn{
    height: 160%;
    width: 210%;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    left: -50%;
    bottom: 10%;
}
.part-3{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around */
    position: relative;
    
}
.part3-account{
    width: 90%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 6%;
    line-height: 10px;
}
.part3-account h5{
    color: #003B8B;
    font-size: 16px;
    font-weight: 700;
}
.part-3 .part3-timer{
height: 40%;
width: 90%;
/* background-color: pink; */
position: relative;
top: 10%;
}