<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>SUMMARY</h2>
    <ul>
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    <h3>RESULT : {{score}}</h3>

    <form action="{% url 'quiz:start_test' %}" method="post">
        {% csrf_token %}
        <button>NEXT</button>
    </form>

</body>
</html>