.stat-card {
  background: linear-gradient(to bottom right, #99a0ff80, #9cf5ff80);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 120% !important;
  /* margin-right: 20px; */
}

/* .contain{
  position: relative;
  left: 5%;
} */
.row{
 position: relative;
 left: 2%;
 width: 84%;
 display: flex;
 justify-content: space-evenly;
}

.stat-card h2 {
  font-size: 2rem;
}

.details-section img {
  width: 150px;
}

.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 980px;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 5px;
}

.custom-width {
  max-width: 77.5%;
  padding: 20px;
  position: relative;
 left: 6%;
}

.logout {
  background: linear-gradient(to bottom right, #13b3ff, #005ad5);
  color: white;
}

.col-md-custom {
  /* width: calc(4 / 12 * 100%); */
  width: 26%;
/* height: 10% !important; */
}
.my-div {
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 180px;
}

.nav-link {
  color: #212529;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.nav-link img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.my-div.shifted {
  margin-left: -100px;
}

.main-content {
  margin-top: 40px;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.shifted {
  margin-left: -250px;
}
.hidden {
  display: none;
}
.nav-link:hover {
  background: linear-gradient(to bottom right, #13b3ff, #005ad5);
}
