*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background: url("static/images/background.png");
    display: flex;
}
.left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.logo{
    height: 40%;
    width: 90%;
    background: url("static/images/logo.png");
    background-size: cover;
    scale: 0.5;
    position: relative;
    right: 6vw;
    bottom: 5vh;
}
.mainImg{
    width: 100%; /* Set container width */
    height: 100%; /* Set container height */
    overflow: hidden; /* Ensures no overflow */
    margin-left: 3vw;
}   

.mainImg img{
    width: 100%; /* Image takes full container width */
    height: 100%; /* Image takes full container height */
    object-fit: cover; /* Ensures image covers the container */
    object-position: center;
    scale: 0.8;
    position: relative;
    bottom: 4vh;
}
.right{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 4vw;
}
.content{
    height: 90%;
    width: 80%;
    border-radius: 20px;
    background-color: #ffffffcc;
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    height: 15%;
    width: 70%;
    position: absolute;
    top : 20%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: linear-gradient(to right, #13B3FF, #003B8B , #005AD5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px #13B3FF;
    color: #fff;
    border-radius: 10px;
}
form{
    height: 50%;
    width: 80%;
    position: relative;
    top : 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}
form label{
    font-size: 1.2rem;
    margin-bottom: 10px;
    position: relative;
    left: -40%;
    color: #003B8B;
}
form input{
    width: 180%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    left: -50%;
    margin-left: 5%;
}
form .input-1{
    width: 190%;
}
form button{
    width: 50%;
    padding: 15px;
    background-color: #13B3FF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 60px;
    background: linear-gradient(to right, #13B3FF, #003B8B , #005AD5);
}
form .pass{
    position: relative;
    left: 2.5%;
}