.containe {
  background-color: #ffffff;
  align-items: center;
  padding-left: 200px;
  margin-top: -470px;
  text-align: center;
  justify-content: center;
  border: none;
  box-shadow: none;
}

.card {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 900px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  border: 1.5px solid #13b3ff;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.item:hover {
  background: linear-gradient(to right, #13b3ff, #005ad5);
  color: #fff;
}

span {
  margin-right: 40px;
}

.item p {
  margin: 0;
  font-weight: 600;
}

.item span {
  font-weight: 500;
  color: #333;
}
.logout {
  background: linear-gradient(to bottom right, #13b3ff, #005ad5);
  color: white;
}
.side {
  margin-left: -15vh;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.open-content-btn {
  cursor: pointer;
  transition: background 0.3s ease;
}
