* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  align-items: center;
  padding: 40px;
  padding-left: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #005ad5;
  margin-bottom: 20px;
  text-align: left;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  border: 1.5px solid #13b3ff;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.item:hover {
  background: linear-gradient(to right, #13b3ff, #005ad5);
  color: #fff;
}

span {
  margin-right: 40px;
}

.item p {
  margin: 0;
  font-weight: 600;
}

.item span {
  font-weight: 500;
  color: #333;
}
