{% extends "base.html" %}
{% block title %}
<title>Dashboard</title>
{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/AccountSidebar.css' %}">
{% endblock %}

{% block content %}
<section class="mb-5" style="margin-left: 370px">
    <div class="row g-4">
      <div class="col-md-custom">
        <a href="{% url 'admin_dashboard:dashboard' %}" style="text-decoration: none; color:black" >
          <div class="stat-card">
            <h6>Total Account Created</h6>
            <h2>{{total_users}}</h2>
          </div>
        </a>
      </div>
      <div class="col-md-custom">
        <a href="{% url 'admin_dashboard:filtered_users' 'submitted' %}" style="text-decoration: none; color:black" >
          <div class="stat-card">
            <h6>Total Submitted</h6>
            <h2>{{total_submitted_users}}/{{total_users}}</h2>
          </div>
        </a>
      </div>
      <div class="col-md-custom">
        <a href="{% url 'admin_dashboard:filtered_users' 'not_submitted' %}" style="text-decoration: none; color:black" >
          <div class="stat-card">
            <h6>Not Submitted</h6>
            <h2>{{total_not_submitted_users}}/{{total_users}}</h2>
          </div>
        </a>
      </div>
    </div>
    
    <div class="container my-2">
      <div class="line-with-text">Today</div>
    </div>
    
    <div class="row g-4">
      <div class="col-md-custom">
        <a href="{% url 'admin_dashboard:user_list' %}?filter_date={{today}}" style="text-decoration: none; color:black" >
          <div class="stat-card">
            <h6>Total Account Created</h6>
            <h2>{{today_users}}</h2>
          </div>
        </a>
      </div>
      <div class="col-md-custom">
        <a href="{% url 'admin_dashboard:user_list' %}?filter_date={{today}}&submitted=True" style="text-decoration: none; color:black" >
          <div class="stat-card">
            <h6>Total Submitted</h6>
            <h2>{{today_submitted_users}}/{{today_users}}</h2>
          </div>
        </a>
      </div>
      <div class="col-md-custom">
        <a href="{% url 'admin_dashboard:user_list' %}?filter_date={{today}}&submitted=False" style="text-decoration: none; color:black" >
          <div class="stat-card">
            <h6>Not Submitted</h6>
            <h2>{{today_not_submitted_users}}/{{today_users}}</h2>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section
    class="text-center shadow custom-width"
    style="margin-left: 370px"
  >
    <img
      src="/static/images/account.png"
      alt="Illustration"
      style="height: 250px"
    />
    <h3 class="mt-1 mb-1">Select the section above to view details.</h3>
  </section>
{% endblock %}

{% block extra_js %}
<script>
      const nextPageButton = document.getElementById("nextPageButton");
const previousPageButton = document.getElementById("previousPageButton");
nextPageButton.addEventListener("click", () => {
 window.location.href = "Quiz_list.html";
});

  </script>
{% endblock %}
