{% extends "base.html" %}
    {% block title %}
    <title>Test submission dashboard</title>
    {% endblock %}
    {% load static %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% endblock %}

  {% block content %}
        <div class="main-box">
            <div class="main-container">
                <!-- Search Bar -->
                <div class="search-container">
                  <div class="search-icon">
                      <form method="GET" action="{% url 'admin_dashboard:user_list' %}" class="search-form">
                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                      <img src="/static/images/search-icon.png" alt="Search Icon">
                    </button>
                    </div>
                    <input
                      type="text"
                      name="query"
                      class="search-input"
                      placeholder="Search here"
                    >
                    </form>
                  </div>
            
                <!-- Filter by Date -->
                <div class="filter-by-date" onclick="openCalendarPopup()">
                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                        <div class="calendar-icon"></div>
                    </button>
                    Filter By Date
                  </div>             
                  <div id="overlay" onclick="closeCalendarPopup()"></div>
                  <form method="GET" action="{% url 'admin_dashboard:user_list' %}">
                  <div id="calendar-popup">
                    <input type="date" id="date-input" name="filter_date">
                    <button class="close-btn" onclick="closeCalendarPopup()" type="submit">Done</button>
                  </div>
                </form>

              <!-- Toggle Buttons -->
              <div class="filter-toggle">
                <label>Filter by</label>
                <a href="{% url 'admin_dashboard:user_list' %}?submitted=True"><button class="filter-button active" onclick="toggleActive(this)">Verified</button></a>
                <a href="{% url 'admin_dashboard:user_list' %}?submitted=False"><button class="filter-button" onclick="toggleActive(this)">Non-Verified</button></a>
              </div>
        </div>
                <div class="table-container">
                    <table>
                        <thead class="thead">
                            <tr>
                                <th>S.no.</th>
                                <th>Full Name</th>
                                <th>E-mail</th>
                                <th>Contact</th>
                                <th>Account Creation Date</th>
                                <th>TCN Number</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ start_sl_no|add:forloop.counter0 }}</td>
                                <td>
                                    <div class="user">
                                        <div class="avatar"></div>
                                        <span>{{user.username}}</span>
                                    </div>
                                </td>
                                <td>{{user.email}}</td>
                                <td>{{user.contact_number}}</td>
                                <td>{{user.created_at|date:"d-m-Y"}}</td>
                                <td>{{user.tcn_number}}</td>
                                {% if user.is_verified %}
                                <td><span class="status verified">Verified</span></td>
                                {% elif not user.is_verified %}
                                <td><span class="status not-verified">Not Verified</span></td>
                                {% endif %}
                                <td>
                                    <div class="action-btns">
                                        <img class="delete-btn" src="/static/images/delete-1.png" alt="Delete">
                                        <img class="eye-btn" id="eye-{{user.id}}" src="/static/images/eye.png" alt="See">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="footer">

          <!-- Pagination Container starts -->
        <div class="pagination-container" id="pagination-container" data-current-page="{{ current_page }}"
        data-total-pages="{{ total_pages }}">
       <button id="prevBtn" onclick="prevPage()">❮</button>
       <div id="pagination"></div>
       <button id="nextBtn" onclick="nextPage()">❯</button>
      </div>
   <!-- Pagination Container ends -->

        <button class="move-to-top-btn" onclick="scrollToTableTop()">
          Move to top
          <div class="arrow-up"></div>
        </button>
        </div>
        
    <div class="delete-modal">
      <div class="modal-content">
        <!-- Close Button -->
        <span class="delete-close-btn">&times;</span>
        <!-- Illustration -->
        <div class="modal-image">
          <img src="/static/images/Delete.png" alt="Illustration" />
        </div>
        <!-- Confirmation Text -->
        <div class="modal-body">
          <p class="modal-title">Are you sure you want to delete</p>
          <p class="modal-item">Profile ?</p>
        </div>
        <!-- Buttons -->
        <div class="modal-footer">
          <button class="btn delete-cancel-btn">Cancel</button>
          {% for user in users %}
          <form action="{% url 'admin_dashboard:delete_user' user_id=user.id %}" method="GET">
          {% endfor %}
          <button class="btn delete-delete-btn">Delete</button>
        </form>
        </div>
      </div>
    </div>

    <div class="overlay">
    <div class="see-modal">
      <h1 id="modal_username">Jane Cooper</h1>
      <button class="see-close-btn">&times</button>
      <div class="card" id="quiz_list">

      </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<!-- JS for Pagination starts -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const paginationContainer = document.getElementById('pagination-container');
      const currentPage = parseInt(paginationContainer.getAttribute('data-current-page'));
      const totalPages = parseInt(paginationContainer.getAttribute('data-total-pages'));

        const paginationDiv = document.getElementById('pagination');

       
        for (let i = 1; i <= totalPages; i++) {
            const button = document.createElement('button');
            button.innerText = i;
            button.className = 'pagination-btn';
            if (i === currentPage) {
                button.classList.add('active');
            }
            button.onclick = () => goToPage(i);
            paginationDiv.appendChild(button);
        }
        
        document.getElementById('prevBtn').disabled = currentPage === 1;
        document.getElementById('nextBtn').disabled = currentPage === totalPages;
    });

    function goToPage(page) {
        const queryParams = new URLSearchParams(window.location.search);
        queryParams.set('page', page);
        window.location.search = queryParams.toString(); // Reload with updated query
    }

    function prevPage() {
        const queryParams = new URLSearchParams(window.location.search);
        const currentPage = parseInt(queryParams.get('page') || 1);
        if (currentPage > 1) {
            queryParams.set('page', currentPage - 1);
            window.location.search = queryParams.toString();
        }
    }

    function nextPage() {
        const queryParams = new URLSearchParams(window.location.search);
        const currentPage = parseInt(queryParams.get('page') || 1);
        const paginationContainer = document.getElementById('pagination-container');
        const totalPages = parseInt(paginationContainer.getAttribute('data-total-pages'));
        if (currentPage < totalPages) {
            queryParams.set('page', currentPage + 1);
            window.location.search = queryParams.toString();
        }
    }
</script>
<!-- JS for Pagination ends -->

    <script>

        function openCalendarPopup() {
          document.getElementById('calendar-popup').style.display = 'block';
          document.getElementById('overlay').style.display = 'block';
        }
      
        function closeCalendarPopup() {
          document.getElementById('calendar-popup').style.display = 'none';
          document.getElementById('overlay').style.display = 'none';
        }

        const deleteBtn = document.querySelectorAll('.delete-btn');
        const deleteModal = document.querySelector('.delete-modal');
        const deleteCloseBtn = document.querySelector('.delete-close-btn');
        const deleteCancelBtn = document.querySelector('.delete-cancel-btn');
        const deleteDeleteBtn = document.querySelector('.delete-delete-btn');
        const passkeyModalDelete = document.querySelector(".delete-modal");
        const thead = document.querySelector('.thead');

    deleteBtn.forEach(btn => {
      btn.addEventListener('click', () => {
        deleteModal.style.display = 'block';
        thead.style.position = "none"
      });
    });

    deleteBtn.forEach((btn) => {
        btn.addEventListener("click", () => {
          passkeyModalDelete.style.display = "block";
          passkeyModalDelete.style.display = "flex";
        });
      });

      deleteCloseBtn.addEventListener("click", () => {
        passkeyModalDelete.style.display = "none";
      });

      deleteCancelBtn.addEventListener("click", () => {
        passkeyModalDelete.style.display = "none";
      });

      deleteDeleteBtn.addEventListener("click", () => {
        alert("User has been deleted!");
        passkeyModalDelete.style.display = "none";
      });


      const overlay = document.querySelector(".overlay");
      const seeBtn = document.querySelectorAll(".eye-btn");
      const seeModal = document.querySelector(".see-modal");
      const seeCloseBtn = document.querySelector(".see-close-btn")
      const modalUsername = document.getElementById('modal_username')
      const modalQuizList = document.getElementById('quiz_list')


      seeBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          
          modalQuizList.innerHTML = '';
          let user_id = e.target.getAttribute("id").split('-')[1];

          let url = window.location.origin + `/get_user_results/${user_id}/`
          fetch(url).then((response)=>{
            return response.json();
          }).then((data)=>{
            quizzes = data['quizzes']
            let correct_answer_counts = data['correct_answer_counts']
            document.getElementById('modal_username').innerHTML = data['requested_user_name']
            let counter = 1
            quizzes.forEach((quiz) =>{
              let correct_answer_count = correct_answer_counts[quiz.id]
              
              let list_item = document.createElement('div')
              list_item.classList.add("item")
              let quiz_name = document.createElement('p')
              quiz_name.innerHTML = `${counter}. ${quiz.name}`
              counter += 1
              let answer_count = document.createElement('span')
              answer_count.innerHTML = `${correct_answer_count?correct_answer_count:0}/${quiz.number_of_questions}`

              list_item.appendChild(quiz_name)
              list_item.appendChild(answer_count)
              modalQuizList.appendChild(list_item)

            });


          }).then(() => {
            seeModal.style.display = "block";
            overlay.style.display = "block";
          })


        })
      })

      seeCloseBtn.addEventListener("click", () => {
        seeModal.style.display = "none";
        overlay.style.display = "";
      });

      window.addEventListener("click", (event) => {
  if (event.target === popupOverlay) {
    overlay.style.display = "none";
  }
});

function scrollToTableTop() {
    const tableContainer = document.querySelector('.table-container');
    if (tableContainer) {
        tableContainer.scrollTo({
            top: 0,
            behavior: 'smooth' // Smooth scrolling effect
        });
    }
}

document.addEventListener('DOMContentLoaded', () => {
  const dropdownToggle = document.querySelector('.dropdown-toggle');
  const dropdownMenu = document.querySelector('.dropdown-menu');
  const totalPages = 10;

  // Populate dropdown menu with page numbers
  for (let i = 1; i <= totalPages; i++) {
    const listItem = document.createElement('li');
    listItem.textContent = i;
    listItem.style.cursor = 'pointer';
    listItem.addEventListener('click', () => {
      dropdownToggle.textContent = i; // Update selected page
      dropdownMenu.style.display = 'none'; // Close dropdown
    });
    dropdownMenu.appendChild(listItem);
  }

  // Toggle dropdown menu visibility
  dropdownToggle.addEventListener('click', (event) => {
    event.stopPropagation(); // Prevent event from bubbling
    dropdownMenu.style.display =
      dropdownMenu.style.display === 'block' ? 'none' : 'block';
  });

  // Close dropdown when clicking outside
  document.addEventListener('click', () => {
    dropdownMenu.style.display = 'none';
  });
});

      </script>
      {% endblock %}