<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Cards</title>
     
    <link rel="stylesheet" href="{% static 'css/QuestionSection.css' %}">
</head>
<body>
    <div class="container">
        <h1>Jane Cooper</h1>
        <div class="card">
            <div class="item">
                <p>1. Basic programming</p>
                <span>10/15</span>
            </div>
            <div class="item">
                <p>2. Front-End Logic</p>
                <span>10/15</span>
            </div>
            <div class="item">
                <p>3. Back-End Logic</p>
                <span>10/15</span>
            </div>
            <div class="item">
                <p>4. Database Concepts</p>
                <span>10/15</span>
            </div>
            <div class="item">
                <p>5. QA Testing</p>
                <span>10/15</span>
            </div>
            <div class="item">
                <p>6. Payment Gateway Analysis</p>
                <span>10/15</span>
            </div>
        </div>
    </div>
</body>
</html>
