{% extends "base.html" %}
    {% block title %}
    <title>Question Section</title>
    {% endblock %}
{% load static %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/Question-List.css' %}">
    {% endblock %}

    {% block content %}
    <div class="containe up">
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-add" data-bs-toggle="modal" data-bs-target="#addQuestionModal">
          <i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#addQuestionModal"></i>
          Add New Question
        </button>
      </div>
      <table class="table" style="background-color: #f9fafc">
        <thead style="
                background: linear-gradient(
                  to bottom,
                  #99a0ff80,
                  #9cf5ff80
                );
              ">
          <tr class="grey">
            <th scope="col">S.No</th>
            <th scope="col">
              Question List <span class="badge text-secondary">{{quiz.number_of_questions}}</span>
            </th>
            <th scope="col" class=" ">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for question in quiz.quiz_questions.all %}
          <tr>
            <td>{{forloop.counter}}.</td>
            <td>
              {{question.question_text}}
            </td>
            <td class="text-left action-icons">
              <i id="delete-{{question.id}}" class="delete-btns fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
              <i id="edit-{{question.id}}" class="edit-btns fas fa-edit"></i>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="overlay" id="edit-content">
      <form id="edit_form" action="{% url 'admin_dashboard:edit_question' %}" method="post">
        {% csrf_token %}
        <div class="modal-content1" style="
                text-align: center;
                justify-content: center;
                align-items: center;
              ">
          <h3 class="text-center mb-4" style="color: #003b8b">
            Edit Question
          </h3>
            <div class="container-fluid question-title">
              <label for="question_text" id="question_number" class="p-0 m-0">Q1</label>
              <input id="question_text" required name="question_text" class="fw-bold form-control" style="color: #494949;text-decoration: underline;" value="">
            </div>
            
            
            <div id="answers" class="p-0 m-0">
            </div>
            <input type="hidden" name="answer_ids" id="answer_ids" value="">
            <input type="hidden" name="question_id" id="question_id" value="">
            <input type="hidden" name="quiz_id" id="quiz_id" value="">
            
          
          
            <div class="d-flex justify-content-between w-100">
              <button type="button" class="btn btn-cancel me-3 px-4" onclick="closePopup()">
                Cancel
              </button>
              <button id="edit_save" class="btn btn-save px-5 ml-5">
                Save
              </button>
            </div>
          </div>
      </form>
    </div>

    <div class="modal fade" id="addQuestionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content px-4 py-3">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Add New Question
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="add_form" method="post" action="{% url 'admin_dashboard:add_question' %}">
            {% csrf_token %}
            <input name="question_text" class="mb-4 fw-bold form-control" placeholder="Add Your Question Here"></input>
              <div class="mb-3 row">
                <div class="col-1 d-flex justify-content-center">
                  <input type="radio" name="correct_answer_id" value="1" class="form-check-input1" />
                </div>
                <div class="col-11">
                  <input type="text" name="answer_text-1" class="form-control" placeholder="Option1" />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-1 d-flex justify-content-center">
                  <input type="radio" name="correct_answer_id" value="2" class="form-check-input1" />
                </div>
                <div class="col-11">
                  <input type="text" name="answer_text-2" class="form-control" placeholder="Option2" />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-1 d-flex justify-content-center">
                  <input type="radio" name="correct_answer_id" value="3" class="form-check-input1" />
                </div>
                <div class="col-11">
                  <input type="text" name="answer_text-3" class="form-control" placeholder="Option3" />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-1 d-flex justify-content-center">
                  <input type="radio" name="correct_answer_id" value="4" class="form-check-input1" />
                </div>
                <div class="col-11">
                  <input type="text" name="answer_text-4" class="form-control" placeholder="Option4" />
                </div>
              </div>
          
            <input type="hidden" name="quiz_id" value="{{quiz.id}}">
          </div>
          <div class="modal-footer border-0 justify-content-center">
            <button type="button" class="btn btn-cancel me-3" data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="btn btn-save">Save</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="images/Delete.png" alt="Delete Image" />
            <h5 class="modal-title2 mb-3" id="deleteModalLabel" style="color: #003b8b">
              Are you sure you want to delete this question?
            </h5>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-cancel1" data-bs-dismiss="modal">
              Cancel
            </button>
            <form action="{% url 'admin_dashboard:delete_question' %}" method="post">
              {% csrf_token %}
              <input id="delete_question_id" type="hidden" name="question_id">
              <button type="submit" class="btn btn-primary">
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block extra_js %}
      <script>
  document.addEventListener("DOMContentLoaded", ()=>{


      document.querySelectorAll(".edit-btns").forEach(button => {
      button.addEventListener("click", function () {

        let question_id = parseInt(button.id.split('-')[1])
        let url = `{% url 'admin_dashboard:edit_question' %}?question_id=${question_id}`
        fetch(url)
        .then(response => response.json())
        .then(data =>{
          document.getElementById("question_text").value = data["question"].question_text
          document.getElementById("question_id").value = data["question"].id
          document.getElementById("question_number").innerHTML = "Q" + data["index"]
          let answers_div = document.getElementById("answers")
          answers_div.innerHTML = ""
          let counter = 1
          data['answers'].forEach(answer => {
            createAnswerElement(answer.id,answer.is_correct,answer.answer_text,counter)
            counter += 1
          });
          while(counter <= 4){
            createAnswerElement(counter,false,"",counter)
            counter += 1
          }
          

        })
        .then(()=>{
          document.getElementById("edit-content").style.display = "block";
        })
      });
    });

    function createAnswerElement(answer_id,is_correct, answer_text,counter){
      let answers_div = document.getElementById("answers")
      let answer_ids = document.getElementById("answer_ids")
      let div = document.createElement("div")
            div.classList.add("form-check")
            div.classList.add("mb-3")

            let radio = document.createElement("input")
            radio.type = "radio"
            radio.name = "correct_answer_id"
            radio.classList.add("form-check-input")
            radio.required = true
            radio.id = `radio-${answer_id}`
            radio.value=answer_id
            if(is_correct){
              radio.checked = true
            }

            let label = document.createElement("label")
            label.classList.add("form-check-label")
            label.for = `radio-${answer_id}`

            let input = document.createElement("input")
            input.type="text"
            input.classList.add("form-control")
            input.value=answer_text
            input.style.backgroundColor = 'white'
            input.name=`answer_text-${answer_id}`
            input.placeholder = `Answer ${counter}`

            label.appendChild(input)
            div.appendChild(radio)
            div.appendChild(label)
            answers_div.appendChild(div)
            answer_ids.value += answer_id+","
    }

    document.querySelectorAll(".delete-btns").forEach(button => {
      button.addEventListener("click", function () {
        let question_id = parseInt(button.id.split('-')[1])
        document.getElementById("delete_question_id").value = question_id
      })
    })
  })
function closePopup() {
      document.getElementById("edit-content").style.display = "none";
    }
      </script>
    {% endblock %}