{% extends "base.html" %}
    {% block title %}
    <title>Quiz List</title>
    {% endblock %}
    {% load static %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/Quiz_list.css' %}">
    {% endblock %}

    {% block content %}
    <div class="container">
        <button class="add-btn" id="add-btn">
          <h3>Add New Quiz</h3>
        </button>
        <div class="table">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th style="width: 10%">S.No</th>
                  <th>Section Name</th>
                  <th>No. of Questions</th>
                  <th>Timer</th>
                  <th style="width: 20%; text-align: center">Actions</th>
                </tr>
              </thead>
              <tbody id="sortable-table">
                {% for quiz in quizzes %}
                <tr>          
                  <td>{{quiz.order}}</td>                  
                  <td class="passkey section"><a href="{% url 'admin_dashboard:question_list' quiz.id%}" style="text-decoration: none; color:black">{{quiz.name}}</a></td>
                  <td class="passkey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{quiz.quiz_questions.count}}</td>
                  <td class="passkey">{{quiz.time}} min</td>
                  <td class="actions" style="text-align: center;">
                    <div class="action-btns">
                        <img id="delete-{{quiz.id}}" class="delete-btn" src="/static/images/delete-1.png" alt="Delete">
                        <img id="edit-{{quiz.id}}" class="eye-btn" src="/static/images/edit.png" alt="See">
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="containe up"  >
                    
            <button
              data-bs-toggle="modal"
              data-bs-target="#addQuestionModal"
            ></button>
          </div>
        </div>
      </div>

        <!-- edit modal -->
        <div class="edit-modal" id="edit-modal">
          <div class="modal-content">
            <span id="delete-close-btn" class="delete-close-btn">&times;</span>
            <h3>Edit</h3>
            <form action="{% url 'admin_dashboard:edit_quiz' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label>Name of the Quiz</label>
                <input type="text" class="passkeyInput" placeholder="Name of the Quiz" name="name" id="edit_name" value="" required />
              </div>
              <div class="form-group">
                <label>Time</label>
                <input type="number" class="passkeyInput" placeholder="Time" name="time" id="edit_time" value="" required />
              </div>
              <div class="form-group">
                <label>Score to pass</label>
                <input type="number" class="passkeyInput" placeholder="Score to pass" name="score" id="edit_score" value="" required />
              </div>
              <div class="requires-payment">
                <input type="checkbox" class="passkeyInput" name="requires_payment" id="requires_payment" value="true" />
                <label for="requires_payment">Requires Payment</label>
              </div>
              <input type="hidden" id="edit_id" name="quiz_id" value="">
              <div class="modal-buttons">
                <button class="cancel-btn-edit" type="button" onclick="closeModal()">Cancel</button>
                <button id="saveBtnEdit" class="save-btn-edit" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
        

          <!-- delete modal -->
          <div class="delete-modal" id="delete-modal" style="display: none;">
            <div class="modal-content">
              <!-- Close Button -->
              <!-- <span class="delete-close-btn">&times;</span> -->
              <!-- Illustration -->
              <div class="modal-image">
                <img src="/static/images/Delete.png" alt="Illustration" />
              </div>
              <!-- Confirmation Text -->
              <div class="modal-body">
                <p class="modal-title">Are you sure you want to delete</p>
                <p class="modal-item" id="modal-item"><span id="delete-passkey-id"></span></p>
              </div>
              <!-- Buttons -->
              <div class="modal-footer">
                <button class="btn delete-cancel-btn">Cancel</button>
                <form id="delete-form" method="POST" action="{% url 'admin_dashboard:delete_quiz' %}" onsubmit="return confirmDelete(event)">
                  {% csrf_token %}
                  <input id="quiz_to_be_deleted" name="quiz_id" type="hidden" value="">
                <button class="btn delete-delete-btn" type="submit">Delete</button>
                </form>
              </div>
            </div>
          </div>

          <div class="add-modal" id="add-modal">
            <div class="modal-content add-inner-modal" id="modal">
              <h3 class="modal-title">Add new Quiz</h3>
              <form class="form-modal" action="{% url 'admin_dashboard:add_quiz' %}" method="post">
                <!-- {% csrf_token %} -->
                <div class="form-group">
                  <label class="name">Name of the Quiz</label>
                  <input type="text" class="passkeyInput input-name" placeholder="Name of the Quiz" name="name" value="" required />
                </div>
                <div class="form-group">
                  <label class="time">Time</label>
                  <input type="number" class="passkeyInput" placeholder="Time" name="time" value="" required />
                </div>
                <div class="form-group">
                  <label class="score">Score to pass</label>
                  <input type="number" class="passkeyInput" placeholder="Score to pass" name="score" value="" required />
                </div>
                <div class="require-payment">
                  <div style="display: flex; justify-content: center;">
                    <input type="checkbox" class="passkeyInput" name="requires_payment" id="requires_payment" value="true" />
                  </div>
                  <label for="requires_payment">Requires Payment</label>
                </div>
                <div class="modal-buttons">
                  <button class="cancel-btn-add" type="button" onclick="closeModal()">Cancel</button>
                  <button id="saveBtnAdd" class="save-btn-add" type="submit">Save</button>
                </div>
              </form>
            </div>
          </div>
          
            

    {% endblock %}

{% block extra_js %}
    <script>

const deleteCloseBtn = document.getElementById('delete-close-btn');
const passkeyModalEditt = document.querySelector(".edit-modal");

deleteCloseBtn.addEventListener("click", () => {
  passkeyModalEditt.style.display = "none";
      });

      const addNewButton = document.getElementById('add-btn');
      const addNewModal = document.querySelector('.add-modal');
      const addCancelBtn = document.querySelector('.cancel-btn-add');
      const addSaveBtn = document.querySelector('.save-btn-add');

      addNewButton.addEventListener('click', () => {
        addNewModal.style.display = 'block';
        addNewModal.style.display = 'flex';
      });

      addCancelBtn.addEventListener('click', () => {
        addNewModal.style.display = 'none';
      });

      addSaveBtn.addEventListener('click', () => {
        addNewModal.style.display = 'none';
      }); 

      function closeModal() {
  document.getElementById('add-modal').style.display = 'none';
}


    // let Click = document.querySelector(".click");
    const passkeyModalEdit = document.querySelector(".edit-modal");
    const editBtn = document.querySelectorAll(".eye-btn");

      editBtn.forEach((btn) => {
        btn.addEventListener("click", (event) => {
          let quiz_id = parseInt(btn.id.split("-")[1]);
          let url = `{% url 'admin_dashboard:edit_quiz' %}?quiz_id=${quiz_id}`;
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              console.log(data)
              document.getElementById("edit_name").value = data['name']
              document.getElementById("edit_time").value = data['time']
              document.getElementById("edit_score").value = data['score_to_pass']

              if(data['requires_payment']){
                document.getElementById("requires_payment").checked = true;
              }
              document.getElementById("edit_id").value = data['id']
            })
            .then(() => {
              passkeyModalEdit.style.display = "block";
              passkeyModalEdit.style.display = 'flex';
            });
      });
    });
      const cancelBtnEdit = document.querySelectorAll(".cancel-btn-edit");
      cancelBtnEdit.forEach((btn) => {
    btn.addEventListener("click", (event) => {
        event.preventDefault(); // Prevent form submission
        const editModal = btn.closest(".edit-modal");
        if (editModal) {
            editModal.style.display = "none";
        }
    });
});

  // delete modal
  const deleteBtns = document.querySelectorAll(".delete-btn");
  const deleteModal = document.querySelector(".delete-modal");
  // let  Click = document.querySelector(".click");
  const deleteCancelBtn = document.querySelector(".delete-cancel-btn");


  deleteBtns.forEach((btn) => {
    btn.addEventListener("click", (event) => {
    id = parseInt(event.target.id.split('-')[1])
    document.getElementById('quiz_to_be_deleted').value = id
    deleteModal.style.display = "block";
  });
  });

  deleteCancelBtn.addEventListener("click", () => {
    deleteModal.style.display = "none";
  });

      document.querySelectorAll("#edit-button").forEach((button) => {
        button.addEventListener("click", function () {
          document.getElementById("edit-content").style.display = "block";
        });
      });

      function closePopup() {
        document.getElementById("edit-content").style.display = "none";
      }

      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  <script>
    // Initialize Sortable on the table body

    function getCSRFToken() {
        const name = 'csrftoken';
        const cookies = document.cookie.split(';');
        for (let cookie of cookies) {
            const [key, value] = cookie.trim().split('=');
            if (key === name) {
                return value;
            }
        }
      return null; // If no CSRF token is found
    }

    document.addEventListener("DOMContentLoaded", () => {
      const tableBody = document.getElementById("sortable-table");

      new Sortable(tableBody, {
        animation: 150, // Smooth animation
        ghostClass: "sortable-ghost", // Class for the dragged row
        onEnd: function (evt) {
          console.log(`Row moved from ${evt.oldIndex + 1} to ${evt.newIndex + 1}`);

          let old_index = evt.oldIndex;
          let new_index = evt.newIndex;
          let url = "{% url 'admin_dashboard:reorder_quizzes' %}"
          fetch(url , {
            method: "POST",
            headers:{
              "X-CSRFToken": getCSRFToken(),
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              'old_index': old_index,
              'new_index': new_index,
            }),
          })
          .then((response) => response.json())
          .then((data) => console.log(data))

          // Update the row numbering after drag-and-drop
          const rows = tableBody.querySelectorAll("tr");
          rows.forEach((row, index) => {
            row.querySelector("td:first-child").textContent = index + 1;
          });
        },
      });
    });
  </script>
      {% endblock %}
