{% extends "base.html" %}
    {% block title %}
    <title>Quiz List</title>
    {% endblock %}
    {% load static %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/Quiz_list.css' %}">
    {% endblock %}

    {% block content %}
    <div class="container">
        <div
          class="question-section"
          id="questionSectionContent"
          style="display: block"
        >
          <div class="card">
            {% for quiz in quizzes %}
            <a href="{% url 'admin_dashboard:question_list' quiz.id%}" style="text-decoration: none; color:black">
              <div class="item" id="item">
                <p id="1">{{forloop.counter}}. {{quiz.name}}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

        <div class="containe up"  >
          
            <button
            
              data-bs-toggle="modal"
              data-bs-target="#addQuestionModal"
            ></button>
          </div>
        </div>

    {% endblock %}

{% block extra_js %}
    <script>

        document
        .getElementById("questionSectionLink")
        .addEventListener("click", function () {
          const questionSection = document.getElementById(
            "questionSectionContent"
          );
          questionSection.style.display =
            questionSection.style.display === "none" ? "block" : "none";
        });

      document.querySelectorAll("#edit-button").forEach((button) => {
        button.addEventListener("click", function () {
          document.getElementById("edit-content").style.display = "block";
        });
      });

      const previousPageButton = document.getElementById("previousPageButton");

      previousPageButton.addEventListener("click", () => {
        window.history.back();
      });

      function closePopup() {
        document.getElementById("edit-content").style.display = "none";
      }
      </script>
      {% endblock %}