*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.box{
    height: 100vh;
    width: 100%;
    background-color: #E7F7FF;
    display: flex;
}
.box-left{
    height: 100%;
    width: 35%;
    /* background-color: yellow; */
}
.box-right{
    height: 100%;
    width: 65%;
    /* background-color: black !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-logo{
    height: 18%;
    width: 62%;
    /* background-color: blue; */
    /* background: url("../images/image_1.png"); */
    background-size: cover;
    position: relative;
    left: 6%;
    top: 4%;
    /* scale: 0.85; */
}
.left-logo img{
    height: 83%;
    width: 79%;
    /* background-color: ; */
    margin-left: 13px;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
.left-img{
    height: 60%;
    width: 75%;
    /* background-color: teal; */
    background-image: url("../images/create-account.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 12%;
    top: 18%;
}
.content-box{
    /* height: 90%; */
    width: 85%;
    /* background-color: blue; */
    background-color: #F5FCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
}
.content-box h2{
    font-weight: 700;
    font-size: 28px;
    color: #032F84;
}
.content-input{
    height: 90%;
    width: 70%;
    /* background-color: yellow; */
    /* margin-top: 5%; */
    position: relative;
    top: 2%;
    z-index: 1;
}
.content-input label{
    margin-top: 2%;
    color: #003B8B;
    font-weight: 500;
}

.check-perform{
    display: flex;
    justify-content: space-between;
}
.check-perform input{
    width: 70%;
    background: transparent;
    border: 1px solid #606060;
}
.content-box .check-perform button{
    width: 23%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
}

.content-box .submit-btn{
    height: 45px;
    width: 25%;
    border: none;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
    border-radius: 10px;
    opacity: 60%;
    position: relative;
    /* height: 200px !important;
    width: 25%;
    border: none;
    background: linear-gradient(to right, #13B3FF, #005AD5);
    color: white;
    border-radius: 10px;
    opacity: 60%; */
}
.content-input input{
    background: transparent;
    border: 1px solid #000000;
}
.content-box .submit-btn:hover{
    opacity: 1;
}
.verified{
    background: linear-gradient(to right, #13FF5E, #5CD500) !important;
    display:block;
}
.not-visible{
display: none;
}

/* error messages  */
.messages {
    /* padding: 2px; */
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: rgb(214, 32, 32);
}
.msg-container{
    height: 60px;
    width: 70%;
    /* background-color: red; */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(214, 32, 32);
}
.alertt{
    color: red;
}
.alertt-success{
    color: green;
}

/* General alert message styling */
.content-input i{
    cursor: pointer;
    position: relative;
    top: -40px;
    left: 95%;
    font-size: 14px;
}
.icon-2{
    top: -35px !important;
}
.confirm{
    position: relative;
    left: -4%
}
.modal{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -25%);
}
.modal-footer .btn-primary{
    background: linear-gradient(to right, #13B3FF, #005AD5);
    border: none;
}
.modal-footer{
    display: flex;
    justify-content: space-around !important;
}
.modal-body{
    display: flex;
    justify-content: center;
}
.modal-header h5{
    color: #032F84;
    position: relative;
    left: 35%;
}
.icon-1{
    position: relative;
    left: 95% !important;
    font-size: 30px;
}
.label-last{
    position: relative;
    /* top: -2%; */
    left: -4%;
}
.input-last{
    position: relative;
    top: -2px;
}
/* .fa-eye{
    position: relative;
    top: -10px;
} */


.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 10px;
   }
   
   @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
   }
   